
{% extends '_base/_page-nav-no-omnisearch.twig' %}
{% block page_nav 'Theme picker' %}
{% block page_title 'Theme picker' %}
{% block page_main %}


{# Check logged in #}
{% if user.username %}
	{# Nothing #}
{% else %}
	{# Redirect to login page #}
		<script>
			window.location.replace("{{ path('login') }}");
		</script>
{% endif %}

{# Template picker #}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">#}
{# Bootstrap disabled, bugs with existing bootstrap
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
#}

<link rel="stylesheet" href="/../extensions/themepicker/web/card.css" />

<div class="col-md-9">

	<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm new theme</h5>
        </div>
        <div class="modal-body">
          <p id="modal-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
          <button id="change" type="button" class="btn btn-primary">Yes</button>
					<div id="change">test</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="themeModal" tabindex="-1" role="dialog" aria-labelledby="themeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="themeModalLongTitle"></h5>
        </div>
        <div class="modal-body">
          <p id="theme-modal-text"></p>
					<br><br>
          <div class="row">
            <div id="image-container" class="col-md-6">
              <img id="image1" class="card-img-top modal-image" alt="{{ value }} image" style="max-height: 183.563px;" onerror="noImage()">
            </div>

            <div class="col-md-6">
							<h2 style="margin-top: 0px;">pages</h2>
							<a href="/theme/home" class="btn btn-primary show-button" target="_blank" >Home</a><br>
							<a href="/theme/about-us" class="btn btn-primary show-button" target="_blank">About Us</a><br>
							<a href="/theme/contact" class="btn btn-primary show-button" target="_blank">Contact</a><br>
							<a href="/theme/pricing" class="btn btn-primary show-button" target="_blank">Pricing</a><br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
			<div class="float-left">

			</div>

			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

	<!-- Card | Active theme -->
	<div class="col-md-4">

      <div class="card">
        <img class="card-img-top image" src="/theme/{{ config.get('general/theme') }}/theme.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ config.get('general/theme') }}</h5>
            <p class="card-text">{{ theme.info }}</p>
          </div>
          <div class="card-footer text-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="cursor: not-allowed;" disabled> Active theme</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#themeModal" value="{{ config.get('general/theme') }}" onclick="theme(this)">Theme info</button>
          </div>
      </div>
    </div>

	<!-- Card | Other themes -->

	{% for name,value in theme %}
    <div class="col-md-4 mb-5">
      <div class="card">
        <img class="card-img-top image" src="/theme/{{ value }}/theme.png" alt="{{ value }} image" onerror="this.src='../..//files/main/no-image.png';">
          <div class="card-body">
              <h5 class="card-title">{{ value }}</h5>
            <p class="card-text">{{ theme.info }}</p>
          </div>
          <div class="card-footer text-center">
              <button type="button" class="btn btn-primary" value="{{ value }}" onclick="location.href = '?theme=' + this.value;">Select theme</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#themeModal" value="{{ value }}" onclick="theme(this)">Theme info</button>
          </div>
      </div>
    </div>
    {% endfor %}

</div>
<aside class="col-md-3">



<div class="panel panel-default panel-news">

	<div class="panel-heading">
		<i class="fa fa-info"></i>
		Select theme
	</div>

	<div class="panel-body">

	<div class="description">
	</div>
		<ul>
			<li>Click theme info to show the theme</li>
			<li>Click on Select theme to select the theme for your website</li>
		</ul>
	</div>
</div>

</aside>


<script>
// If there is no image hide image container
function noImage(image) {
	document.getElementById("image-container").style.display = "none";
	document.getElementById("image1").style.display = "none";
}
// Reset image container when close modal
$('#themeModal').on('hidden.bs.modal', function () {
	document.getElementById("image-container").style.display = "block";
    document.getElementById("image1").style.display = "block";
})

// Get folder for images
// OnLoad
document.getElementById("theme-modal-text").innerHTML = "No theme info found";

function data(a) {
  var value = a.value;
  document.getElementById("modal-text").innerHTML = "Are you sure you want to use " + value + " as your new theme?";
}

function theme(e) {
  var value = e.value;

  var image = document.getElementById("image1");
  image.src = "/theme/" + value  + "/theme.png";

  //var image2 = document.getElementById("image2");
  //image2.src = "/theme/" + value  + "/screenshots/screenshot1.png";


  // Title
  document.getElementById("themeModalLongTitle").innerHTML = value;

  var path = "/theme/" + value  + "/text.txt";
  // Text
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("theme-modal-text").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", path, true);
  xhttp.send();
}

$("#themeModal").on("hidden.bs.modal", function () {
    // Clear modal text
    document.getElementById("themeModalLongTitle").innerHTML = "";
    // Set text to No theme info found
    document.getElementById("theme-modal-text").innerHTML = "No theme info found";
});


function selectTheme() {
  alert("Not ready yet");
}

var fs = require('fs');
var path = '/';
var filenames = fs.readdirSync(path);
var count = 0;
filenames.forEach(function (name) {
    if (name === "." || name === "..") {
        return;
    }
    if (fs.lstatSync(path + "/" + name).isDirectory()) {
        count++;
    }

});
console.log(count);
</script>

{% endblock %}
